lib/autocomplete/xvc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns="urn:schemas:morphis:frames:view" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:schemas:morphis:frames:view" elementFormDefault="qualified">
   <xsd:complexType name="base" abstract="true"/>
   <xsd:complexType name="editor">
      <xsd:sequence>
         <xsd:choice>
            <xsd:element name="checkbox" type="editorCheckbox" minOccurs="0"/>
            <xsd:element ref="calendar" minOccurs="0"/>
            <xsd:element ref="button" minOccurs="0"/>
            <xsd:element ref="lovbox" minOccurs="0"/>
            <xsd:element ref="combobox" minOccurs="0"/>
            <xsd:element ref="colorpicker" minOccurs="0"/>
            <xsd:element name="slider" type="slider" minOccurs="0"/>
            <xsd:element ref="calculator" minOccurs="0"/>
            <xsd:element ref="editbox" minOccurs="0"/>
            <xsd:element ref="image" minOccurs="0"/>
            <xsd:element ref="textfield" minOccurs="0"/>
            <xsd:element ref="textlink" minOccurs="0"/>
         </xsd:choice>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="include">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence>
               <xsd:choice>
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
               <xsd:element ref="extension" minOccurs="0"/>
               <xsd:element name="_childs" type="base" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            </xsd:sequence>
            <xsd:attribute name="src" type="xsd:string" use="required"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="viewHeader">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="labelalign" type="xsd:string"/>
            <xsd:attribute name="labelstyle" type="xsd:string"/>
            <xsd:attribute name="labelfontfamily" type="xsd:string"/>
            <xsd:attribute name="labelcolor" type="xsd:string"/>
            <xsd:attribute name="labelfontsize" type="xsd:string"/>
            <xsd:attribute name="height" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="viewGrouping">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element name="group" type="viewGroup" minOccurs="0"/>
               </xsd:choice>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="viewGroup">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element name="column" type="column" minOccurs="0"/>
                  <xsd:element name="total" type="total" minOccurs="0"/>
               </xsd:choice>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="column">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence/>
            <xsd:attribute name="member" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="total">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence/>
            <xsd:attribute name="member" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="type" type="xsd:string"/>
            <xsd:attribute name="source" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="textalign" type="xsd:string"/>
            <xsd:attribute name="datatype" type="xsd:string"/>
            <xsd:attribute name="formatmask" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="gridTotals">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element name="group" type="group" minOccurs="0"/>
               </xsd:choice>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="group">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element name="total" type="gridtotals-group-total" minOccurs="0"/>
               </xsd:choice>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="view" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="baseElement">
            <xsd:sequence/>
            <xsd:attribute name="member" type="xsd:string"/>
            <xsd:attribute name="block" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="unamedElement" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence/>
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="backgroundcolor" type="xsd:string"/>
            <xsd:attribute name="foregroundcolor" type="xsd:string"/>
            <xsd:attribute name="fontfamily" type="xsd:string"/>
            <xsd:attribute name="fontcolor" type="xsd:string"/>
            <xsd:attribute name="fontsize" type="xsd:string"/>
            <xsd:attribute name="bordertype" type="xsd:string"/>
            <xsd:attribute name="textalign" type="xsd:string"/>
            <xsd:attribute name="enabled" type="xsd:boolean"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="repeater">
      <xsd:complexContent>
         <xsd:extension base="bindcontrol">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="pager" type="xsd:boolean"/>
            <xsd:attribute name="layout" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="borderLayoutArea">
      <xsd:sequence>
         <xsd:choice maxOccurs="unbounded">
            <xsd:element ref="lovbox"/>
            <xsd:element ref="filebox"/>
            <xsd:element ref="gridcell"/>
            <xsd:element ref="checkbox"/>
            <xsd:element ref="gridlayout"/>
            <xsd:element ref="yaxis"/>
            <xsd:element ref="accordion"/>
            <xsd:element ref="calendar"/>
            <xsd:element ref="colorpicker"/>
            <xsd:element ref="interactionblock"/>
            <xsd:element ref="include"/>
            <xsd:element ref="textlink"/>
            <xsd:element ref="listbox"/>
            <xsd:element ref="xhtml"/>
            <xsd:element ref="positionlayout"/>
            <xsd:element ref="flowlayout"/>
            <xsd:element ref="gridflowlayout"/>
            <xsd:element ref="xaxis"/>
            <xsd:element ref="gridview"/>
            <xsd:element ref="framepanel"/>
            <xsd:element ref="radiobox"/>
            <xsd:element ref="calculator"/>
            <xsd:element ref="formpanel"/>
            <xsd:element ref="tab"/>
            <xsd:element ref="piechart"/>
            <xsd:element ref="image"/>
            <xsd:element ref="viewcolumn"/>
            <xsd:element ref="inputbutton"/>
            <xsd:element ref="treeview"/>
            <xsd:element ref="slider"/>
            <xsd:element ref="textarea"/>
            <xsd:element ref="legend"/>
            <xsd:element ref="listview"/>
            <xsd:element ref="config"/>
            <xsd:element ref="checkbox"/>
            <xsd:element ref="menu"/>
            <xsd:element ref="widget"/>
            <xsd:element ref="series"/>
            <xsd:element ref="positionpanel"/>
            <xsd:element ref="borderlayout"/>
            <xsd:element ref="panel"/>
            <xsd:element ref="component"/>
            <xsd:element ref="linechart"/>
            <xsd:element ref="textbox"/>
            <xsd:element ref="radiogroup"/>
            <xsd:element ref="viewheader"/>
            <xsd:element ref="repeater"/>
            <xsd:element ref="pager"/>
            <xsd:element ref="editbox"/>
            <xsd:element ref="tabpanel"/>
            <xsd:element ref="button"/>
            <xsd:element ref="window"/>
            <xsd:element ref="menuitem"/>
            <xsd:element ref="text"/>
            <xsd:element ref="combobox"/>
            <xsd:element ref="barchart"/>
            <xsd:element ref="textfield"/>
            <xsd:element ref="menuview"/>
            <xsd:element ref="collapsiblepanel"/>
         </xsd:choice>
      </xsd:sequence>
      <xsd:attribute name="name" type="borderposition" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="window">
      <xsd:complexContent>
         <xsd:extension base="root">
            <xsd:sequence/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="width" type="xsd:string"/>
            <xsd:attribute name="height" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="config">
      <xsd:complexContent>
         <xsd:extension base="root">
            <xsd:sequence/>
            <xsd:attribute name="width" type="xsd:string"/>
            <xsd:attribute name="height" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="pager">
      <xsd:complexContent>
         <xsd:extension base="baseElement">
            <xsd:sequence/>
            <xsd:attribute name="block" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="panel">
      <xsd:complexContent>
         <xsd:extension base="BaseContainer">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="tab">
      <xsd:complexContent>
         <xsd:extension base="unamedElement">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="gridLayoutCell">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="colspan" type="xsd:int"/>
            <xsd:attribute name="rowspan" type="xsd:int"/>
            <xsd:attribute name="width" type="xsd:string"/>
            <xsd:attribute name="height" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="framePanel">
      <xsd:complexContent>
         <xsd:extension base="BaseContainer">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="label" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="checkbox">
      <xsd:complexContent>
         <xsd:extension base="checkboxbase">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="tabPanel">
      <xsd:complexContent>
         <xsd:extension base="BaseContainer">
            <xsd:sequence>
               <!--<xsd:element ref="event" minOccurs="0" maxOccurs="unbounded"/>-->
               <xsd:element name="tab" type="tab" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="borderLayout">
      <xsd:complexContent>
         <xsd:extension base="layout">
            <xsd:sequence>
               <xsd:element name="area" type="borderLayoutArea" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="gridLayout">
      <xsd:complexContent>
         <xsd:extension base="layout">
            <xsd:sequence>
               <xsd:element name="gridcell" type="gridLayoutCell" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="cols" type="xsd:integer"/>
            <xsd:attribute name="orientation" type="floworientation"/>
            <xsd:attribute name="direction" type="griddirection"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="positionLayout">
      <xsd:complexContent>
         <xsd:extension base="layout">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="flowLayout">
      <xsd:complexContent>
         <xsd:extension base="layout">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="orientation" type="floworientation"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="gridFlowLayout">
      <xsd:complexContent>
         <xsd:extension base="layout">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="cols" type="xsd:integer" use="required"/>
            <xsd:attribute name="orientation" type="floworientation"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="gridView">
      <xsd:complexContent>
         <xsd:extension base="view">
            <xsd:sequence>
               <!--<xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="event" minOccurs="0"/>
			  </xsd:choice> -->
               <xsd:element name="viewheader" type="viewHeader"/>
               <xsd:element name="viewrow" type="viewRow" minOccurs="0"/>
               <xsd:element name="grouping" type="viewGrouping" minOccurs="0"/>
               <xsd:element name="totals" type="gridTotals" minOccurs="0"/>
               <xsd:element name="editpanel" type="editPanel" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="readonly" type="xsd:boolean"/>
            <xsd:attribute name="fixedcols" type="xsd:int"/>
            <xsd:attribute name="pager" type="xsd:boolean"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="baseChart">
      <xsd:complexContent>
         <xsd:extension base="bindcontrol">
            <xsd:sequence>
               <xsd:element name="legend" type="chartLegend" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="title" type="xsd:string"/>
            <xsd:attribute name="subtitle" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="positionPanel">
      <xsd:complexContent>
         <xsd:extension base="BaseContainer">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="accordionPanel">
      <xsd:sequence>
         <xsd:choice maxOccurs="unbounded">
            <xsd:element ref="lovbox"/>
            <xsd:element ref="filebox"/>
            <xsd:element ref="gridcell"/>
            <xsd:element ref="checkbox"/>
            <xsd:element ref="gridlayout"/>
            <xsd:element ref="yaxis"/>
            <xsd:element ref="accordion"/>
            <xsd:element ref="calendar"/>
            <xsd:element ref="colorpicker"/>
            <xsd:element ref="interactionblock"/>
            <xsd:element ref="include"/>
            <xsd:element ref="textlink"/>
            <xsd:element ref="listbox"/>
            <xsd:element ref="xhtml"/>
            <xsd:element ref="positionlayout"/>
            <xsd:element ref="flowlayout"/>
            <xsd:element ref="gridflowlayout"/>
            <xsd:element ref="xaxis"/>
            <xsd:element ref="gridview"/>
            <xsd:element ref="framepanel"/>
            <xsd:element ref="radiobox"/>
            <xsd:element ref="calculator"/>
            <xsd:element ref="formpanel"/>
            <xsd:element ref="tab"/>
            <xsd:element ref="piechart"/>
            <xsd:element ref="image"/>
            <xsd:element ref="viewcolumn"/>
            <xsd:element ref="inputbutton"/>
            <xsd:element ref="treeview"/>
            <xsd:element ref="slider"/>
            <xsd:element ref="textarea"/>
            <xsd:element ref="legend"/>
            <xsd:element ref="listview"/>
            <xsd:element ref="config"/>
            <xsd:element ref="checkbox"/>
            <xsd:element ref="menu"/>
            <xsd:element ref="widget"/>
            <xsd:element ref="series"/>
            <xsd:element ref="positionpanel"/>
            <xsd:element ref="borderlayout"/>
            <xsd:element ref="panel"/>
            <xsd:element ref="component"/>
            <xsd:element ref="linechart"/>
            <xsd:element ref="textbox"/>
            <xsd:element ref="radiogroup"/>
            <xsd:element ref="viewheader"/>
            <xsd:element ref="repeater"/>
            <xsd:element ref="pager"/>
            <xsd:element ref="editbox"/>
            <xsd:element ref="tabpanel"/>
            <xsd:element ref="button"/>
            <xsd:element ref="window"/>
            <xsd:element ref="menuitem"/>
            <xsd:element ref="text"/>
            <xsd:element ref="combobox"/>
            <xsd:element ref="barchart"/>
            <xsd:element ref="textfield"/>
            <xsd:element ref="menuview"/>
            <xsd:element ref="collapsiblepanel"/>
         </xsd:choice>
      </xsd:sequence>
      <xsd:attribute name="label" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="collapsiblePanel">
      <xsd:complexContent>
         <xsd:extension base="BaseContainer">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="label" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="accordion">
      <xsd:complexContent>
         <xsd:extension base="BaseContainer">
            <xsd:sequence>
               <xsd:element name="panel" type="accordionPanel" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="control" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="baseLabelElement">
            <!--<xsd:sequence>
               <xsd:element ref="event" minOccurs="0" maxOccurs="unbounded"/>
		    </xsd:sequence> -->
            <xsd:attribute name="tooltip" type="xsd:string"/>
            <xsd:attribute name="hint" type="xsd:string"/>
            <xsd:attribute name="menu" type="xsd:string"/>
            <xsd:attribute name="keyactions" type="xsd:string"/>
            <xsd:attribute name="validation" type="xsd:string"/>
            <xsd:attribute name="navigable" type="xsd:string"/>
            <xsd:attribute name="accesskey" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="bindcontrol" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="control">
            <xsd:sequence/>
            <xsd:attribute name="member" type="xsd:string"/>
            <xsd:attribute name="block" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="baseLabelElement" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="baseElement">
            <xsd:sequence/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="labelwidth" type="xsd:string"/>
            <xsd:attribute name="labelposition" type="xsd:string"/>
            <xsd:attribute name="labeloffset" type="xsd:string"/>
            <xsd:attribute name="labelalign" type="xsd:string"/>
            <xsd:attribute name="labelstyle" type="xsd:string"/>
            <xsd:attribute name="labelfontfamily" type="xsd:string"/>
            <xsd:attribute name="labelcolor" type="xsd:string"/>
            <xsd:attribute name="labelfontsize" type="xsd:string"/>
            <xsd:attribute name="labeldirection" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="baseElement" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="unamedElement">
            <xsd:sequence/>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="width" type="xsd:string"/>
            <xsd:attribute name="height" type="xsd:string"/>
            <xsd:attribute name="top" type="xsd:string"/>
            <xsd:attribute name="left" type="xsd:string"/>
            <xsd:attribute name="bottom" type="xsd:string"/>
            <xsd:attribute name="right" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="BaseContainer" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="baseElement">
            <xsd:sequence/>
            <xsd:attribute name="class" type="xsd:string"/>
            <xsd:attribute name="menu" type="xsd:string"/>
            <xsd:attribute name="padding" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="formPanel">
      <xsd:complexContent>
         <xsd:extension base="BaseContainer">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="xHtml">
      <xsd:complexContent>
         <xsd:extension base="BaseContainer">
            <xsd:sequence>
               <xsd:any processContents="skip" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="editablecontrol" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="textinputcontrol">
            <xsd:sequence/>
            <xsd:attribute name="readonly" type="xsd:boolean"/>
            <xsd:attribute name="required" type="xsd:boolean"/>
            <xsd:attribute name="autoskip" type="xsd:boolean"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="slider">
      <xsd:complexContent>
         <xsd:extension base="baseElement">
            <xsd:sequence/>
            <xsd:attribute name="block" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="textinputcontrol" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="bindcontrol">
            <xsd:sequence/>
            <xsd:attribute name="formatmask" type="xsd:string"/>
            <xsd:attribute name="case" type="casetype"/>
            <xsd:attribute name="datatype" type="xsd:string"/>
            <xsd:attribute name="maxlength" type="xsd:string"/>
            <xsd:attribute name="minlength" type="xsd:string"/>
            <xsd:attribute name="direction" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="barChart">
      <xsd:complexContent>
         <xsd:extension base="baseChart">
            <xsd:sequence>
               <xsd:element name="xaxis" type="xAxis"/>
               <xsd:element name="yaxis" type="yAxis"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="lineChart">
      <xsd:complexContent>
         <xsd:extension base="baseChart">
            <xsd:sequence>
               <xsd:element name="xaxis" type="xAxis"/>
               <xsd:element name="yaxis" type="yAxis"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="pieChart">
      <xsd:complexContent>
         <xsd:extension base="baseChart">
            <xsd:sequence>
               <xsd:element name="series" type="chartSerie" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="checkboxbase" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="basebutton">
            <xsd:sequence>
               <xsd:element name="UNCHECKED_VALUE" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="value" type="xsd:string" use="required"/>
            <xsd:attribute name="falsevalue" type="xsd:string" use="required"/>
            <xsd:attribute name="othervaluestate" type="xsd:string"/>
            <xsd:attribute name="unmatchedvalue" type="xsd:string"/>
            <xsd:attribute name="valueisnull" type="xsd:boolean"/>
            <xsd:attribute name="falsevalueisnull" type="xsd:boolean"/>
            <xsd:attribute name="unmatchedvalueisnull" type="xsd:boolean"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="editorCheckbox">
      <xsd:complexContent>
         <xsd:extension base="checkboxbase">
            <xsd:sequence/>
            <xsd:attribute name="headerselection" type="xsd:boolean"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="basebutton" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="bindcontrol">
            <xsd:sequence/>
            <xsd:attribute name="action" type="xsd:string"/>
            <xsd:attribute name="actionparams" type="xsd:string"/>
            <xsd:attribute name="direction" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="chartLegend">
      <xsd:complexContent>
         <xsd:extension base="baseElement">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="xAxis">
      <xsd:complexContent>
         <xsd:extension base="baseAxis">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="baseAxis">
      <xsd:complexContent>
         <xsd:extension base="baseElement">
            <xsd:sequence>
               <xsd:element name="category" type="xsd:string" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="title" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="yAxis">
      <xsd:complexContent>
         <xsd:extension base="baseAxis">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="chartSerie">
      <xsd:complexContent>
         <xsd:extension base="baseElement">
            <xsd:sequence/>
            <xsd:attribute name="title" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="member" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="inputbutton">
      <xsd:complexContent>
         <xsd:extension base="editablecontrol">
            <xsd:sequence/>
            <xsd:attribute name="action" type="xsd:string"/>
            <xsd:attribute name="actionparams" type="xsd:string"/>
            <xsd:attribute name="icon" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="baseSimpleElement" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="unamedSimpleElement">
            <xsd:sequence/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="width" type="xsd:string"/>
            <xsd:attribute name="height" type="xsd:string"/>
            <xsd:attribute name="top" type="xsd:string"/>
            <xsd:attribute name="left" type="xsd:string"/>
            <xsd:attribute name="bottom" type="xsd:string"/>
            <xsd:attribute name="right" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="unamedSimpleElement">
      <xsd:simpleContent>
         <xsd:extension base="xsd:string">
            <xsd:attribute name="visible" type="xsd:boolean"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="backgroundcolor" type="xsd:string"/>
            <xsd:attribute name="foregroundcolor" type="xsd:string"/>
            <xsd:attribute name="fontfamily" type="xsd:string"/>
            <xsd:attribute name="fontcolor" type="xsd:string"/>
            <xsd:attribute name="fontsize" type="xsd:string"/>
            <xsd:attribute name="bordertype" type="xsd:string"/>
            <xsd:attribute name="textalign" type="xsd:string"/>
            <xsd:attribute name="enabled" type="xsd:boolean"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="root" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence>
               <xsd:choice maxOccurs="unbounded">
                  <xsd:element ref="lovbox"/>
                  <xsd:element ref="filebox"/>
                  <xsd:element ref="gridcell"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="gridlayout"/>
                  <xsd:element ref="yaxis"/>
                  <xsd:element ref="accordion"/>
                  <xsd:element ref="calendar"/>
                  <xsd:element ref="colorpicker"/>
                  <xsd:element ref="interactionblock"/>
                  <xsd:element ref="include"/>
                  <xsd:element ref="textlink"/>
                  <xsd:element ref="listbox"/>
                  <xsd:element ref="xhtml"/>
                  <xsd:element ref="positionlayout"/>
                  <xsd:element ref="flowlayout"/>
                  <xsd:element ref="gridflowlayout"/>
                  <xsd:element ref="xaxis"/>
                  <xsd:element ref="gridview"/>
                  <xsd:element ref="framepanel"/>
                  <xsd:element ref="radiobox"/>
                  <xsd:element ref="calculator"/>
                  <xsd:element ref="formpanel"/>
                  <xsd:element ref="tab"/>
                  <xsd:element ref="piechart"/>
                  <xsd:element ref="image"/>
                  <xsd:element ref="viewcolumn"/>
                  <xsd:element ref="inputbutton"/>
                  <xsd:element ref="treeview"/>
                  <xsd:element ref="slider"/>
                  <xsd:element ref="textarea"/>
                  <xsd:element ref="legend"/>
                  <xsd:element ref="listview"/>
                  <xsd:element ref="config"/>
                  <xsd:element ref="checkbox"/>
                  <xsd:element ref="menu"/>
                  <xsd:element ref="widget"/>
                  <xsd:element ref="series"/>
                  <xsd:element ref="positionpanel"/>
                  <xsd:element ref="borderlayout"/>
                  <xsd:element ref="panel"/>
                  <xsd:element ref="component"/>
                  <xsd:element ref="linechart"/>
                  <xsd:element ref="textbox"/>
                  <xsd:element ref="radiogroup"/>
                  <xsd:element ref="viewheader"/>
                  <xsd:element ref="repeater"/>
                  <xsd:element ref="pager"/>
                  <xsd:element ref="editbox"/>
                  <xsd:element ref="tabpanel"/>
                  <xsd:element ref="button"/>
                  <xsd:element ref="window"/>
                  <xsd:element ref="menuitem"/>
                  <xsd:element ref="text"/>
                  <xsd:element ref="combobox"/>
                  <xsd:element ref="barchart"/>
                  <xsd:element ref="textfield"/>
                  <xsd:element ref="menuview"/>
                  <xsd:element ref="collapsiblepanel"/>
               </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="title" type="xsd:string"/>
            <xsd:attribute name="layout" type="layouttype"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="viewRow">
      <xsd:sequence/>
      <xsd:attribute name="height" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="gridtotals-group-total">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence/>
            <xsd:attribute name="ref" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="label" type="xsd:string"/>
            <xsd:attribute name="type" type="xsd:string"/>
            <xsd:attribute name="block" type="xsd:string"/>
            <xsd:attribute name="member" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
            <xsd:attribute name="textalign" type="xsd:string"/>
            <xsd:attribute name="datatype" type="xsd:string"/>
            <xsd:attribute name="formatmask" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="editPanel">
      <xsd:sequence/>
      <xsd:attribute name="src" type="xsd:string"/>
   </xsd:complexType>
   <xsd:complexType name="layout" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="base">
            <xsd:sequence/>
            <xsd:attribute name="padding" type="xsd:string"/>
            <xsd:attribute name="style" type="xsd:string"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="editor" type="editor"/>
   <xsd:element name="include" type="include"/>
   <xsd:element name="treeview">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="view">
               <xsd:sequence/>
               <xsd:attribute name="action" type="xsd:string"/>
               <xsd:attribute name="actionparams" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="viewheader" type="viewHeader"/>
   <xsd:element name="interactionblock">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="base">
               <xsd:sequence/>
               <xsd:attribute name="name" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="repeater" type="repeater"/>
   <xsd:element name="image">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="control">
               <xsd:sequence>
                  <!--<xsd:choice maxOccurs="unbounded">
                     <xsd:element ref="event" minOccurs="0"/>
				 </xsd:choice>-->
               </xsd:sequence>
               <xsd:attribute name="member" type="xsd:string"/>
               <xsd:attribute name="block" type="xsd:string"/>
               <xsd:attribute name="src" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="calendar">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="editablecontrol">
               <xsd:sequence/>
               <xsd:attribute name="label" type="xsd:string"/>
               <xsd:attribute name="labelwidth" type="xsd:string"/>
               <xsd:attribute name="labelposition" type="xsd:string"/>
               <xsd:attribute name="labeloffset" type="xsd:string"/>
               <xsd:attribute name="labelalign" type="xsd:string"/>
               <xsd:attribute name="labelstyle" type="xsd:string"/>
               <xsd:attribute name="labelfontfamily" type="xsd:string"/>
               <xsd:attribute name="labelcolor" type="xsd:string"/>
               <xsd:attribute name="labelfontsize" type="xsd:string"/>
               <xsd:attribute name="action" type="xsd:string"/>
               <xsd:attribute name="actionparams" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="text">
      <xsd:complexType>
         <xsd:simpleContent>
            <xsd:extension base="xsd:string">
               <xsd:attribute name="member" type="xsd:string"/>
               <xsd:attribute name="block" type="xsd:string"/>
            </xsd:extension>
         </xsd:simpleContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="lovbox">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="inputbutton">
               <xsd:sequence/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="area" type="borderLayoutArea"/>
   <xsd:element name="listbox">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="editablecontrol">
               <xsd:sequence>
                  <xsd:element name="model" minOccurs="0">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" nillable="true">
                              <xsd:complexType>
                                 <xsd:sequence/>
                                 <xsd:attribute name="label" type="xsd:string"/>
                                 <xsd:attribute name="value" type="xsd:string"/>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="multiple" type="xsd:boolean"/>
               <xsd:attribute name="action" type="xsd:string"/>
               <xsd:attribute name="actionparams" type="xsd:string"/>
               <xsd:attribute name="unmatchedvalue" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="widget">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="bindcontrol">
               <xsd:sequence/>
               <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="menu">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="baseSimpleElement">
               <xsd:sequence>
                  <xsd:choice maxOccurs="unbounded">
                     <xsd:element ref="menu" minOccurs="0"/>
                     <xsd:element ref="menuitem" minOccurs="0"/>
                  </xsd:choice>
               </xsd:sequence>
               <xsd:attribute name="label" type="xsd:string"/>
               <xsd:attribute name="name" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="window" type="window"/>
   <xsd:element name="button">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="basebutton">
               <xsd:sequence/>
               <xsd:attribute name="icon" type="xsd:string"/>
               <xsd:attribute name="default" type="xsd:boolean" use="required"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="editbox">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="inputbutton">
               <xsd:sequence/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="config" type="config"/>
   <xsd:element name="pager" type="pager"/>
   <xsd:element name="textbox">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="editablecontrol">
               <xsd:sequence/>
               <xsd:attribute name="multiline" type="xsd:boolean"/>
               <xsd:attribute name="minvalue" type="xsd:string"/>
               <xsd:attribute name="maxvalue" type="xsd:string"/>
               <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="panel" type="panel"/>
   <xsd:element name="tab" type="tab"/>
   <xsd:element name="gridcell" type="gridLayoutCell"/>
   <xsd:element name="framepanel" type="framePanel"/>
   <xsd:element name="checkbox" type="editorCheckbox"/>
   <xsd:element name="radiogroup">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="textinputcontrol">
               <xsd:sequence>
                  <xsd:element ref="radiobox" minOccurs="0" maxOccurs="unbounded"/>
               </xsd:sequence>
               <xsd:attribute name="othervalue" type="xsd:string"/>
               <xsd:attribute name="unmatchedvalue" type="xsd:string"/>
               <xsd:attribute name="action" type="xsd:string"/>
               <xsd:attribute name="actionparams" type="xsd:string"/>
               <xsd:attribute name="required" type="xsd:boolean"/>
               <xsd:attribute name="orientation" type="floworientation"/>
               <xsd:attribute name="unmatchedvalueisnull" type="xsd:boolean"/>
               <xsd:attribute name="valueisnull" type="xsd:boolean"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="viewcolumn">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="editablecontrol">
               <xsd:sequence>
                  <xsd:element name="editor" type="editor" minOccurs="0"/>
               </xsd:sequence>
               <xsd:attribute name="label" type="xsd:string"/>
               <xsd:attribute name="labelstyle" type="xsd:string"/>
               <xsd:attribute name="labelfontfamily" type="xsd:string"/>
               <xsd:attribute name="labelcolor" type="xsd:string"/>
               <xsd:attribute name="labelfontsize" type="xsd:string"/>
               <xsd:attribute name="maxvalue" type="xsd:string"/>
               <xsd:attribute name="minvalue" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="tabpanel" type="tabPanel"/>
   <xsd:element name="borderlayout" type="borderLayout"/>
   <xsd:element name="gridlayout" type="gridLayout"/>
   <xsd:element name="positionlayout" type="positionLayout"/>
   <xsd:element name="menuitem">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="base">
               <xsd:sequence/>
               <xsd:attribute name="description" type="xsd:string"/>
               <xsd:attribute name="type" type="xsd:string"/>
               <xsd:attribute name="action" type="xsd:string"/>
               <xsd:attribute name="actionparams" type="xsd:string"/>
               <xsd:attribute name="href" type="xsd:string"/>
               <xsd:attribute name="label" type="xsd:string"/>
               <xsd:attribute name="name" type="xsd:string"/>
               <xsd:attribute name="icon" type="xsd:string"/>
               <xsd:attribute name="accesskey" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="textlink">
      <xsd:complexType mixed="true">
         <xsd:complexContent>
            <xsd:extension base="bindcontrol">
               <xsd:sequence>
                  <xsd:element name="contents" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
               </xsd:sequence>
               <xsd:attribute name="action" type="xsd:string"/>
               <xsd:attribute name="actionparams" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="flowlayout" type="flowLayout"/>
   <xsd:element name="radiobox">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="basebutton">
               <xsd:sequence/>
               <xsd:attribute name="group" type="xsd:string"/>
               <xsd:attribute name="value" type="xsd:string" use="required"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="calculator">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="editablecontrol">
               <xsd:sequence/>
               <xsd:attribute name="label" type="xsd:string"/>
               <xsd:attribute name="labelwidth" type="xsd:string"/>
               <xsd:attribute name="labelposition" type="xsd:string"/>
               <xsd:attribute name="labeloffset" type="xsd:string"/>
               <xsd:attribute name="labelalign" type="xsd:string"/>
               <xsd:attribute name="labelstyle" type="xsd:string"/>
               <xsd:attribute name="labelfontfamily" type="xsd:string"/>
               <xsd:attribute name="labelcolor" type="xsd:string"/>
               <xsd:attribute name="labelfontsize" type="xsd:string"/>
               <xsd:attribute name="action" type="xsd:string"/>
               <xsd:attribute name="actionparams" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="gridflowlayout" type="gridFlowLayout"/>
   <xsd:element name="combobox">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="editablecontrol">
               <xsd:sequence>
                  <xsd:element name="model" minOccurs="0">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" nillable="true">
                              <xsd:complexType>
                                 <xsd:sequence/>
                                 <xsd:attribute name="label" type="xsd:string"/>
                                 <xsd:attribute name="value" type="xsd:string"/>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="action" type="xsd:string"/>
               <xsd:attribute name="actionparams" type="xsd:string"/>
               <xsd:attribute name="unmatchedvalue" type="xsd:string"/>
               <xsd:attribute name="unmatchedvalueisnull" type="xsd:boolean"/>
               <xsd:attribute name="valueisnull" type="xsd:boolean"/>
               <xsd:attribute name="othervalue" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="gridview" type="gridView"/>
   <xsd:element name="textfield">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="textinputcontrol">
               <xsd:sequence/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="textarea">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="editablecontrol">
               <xsd:sequence/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="listview">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="view">
               <xsd:sequence>
                  <xsd:element name="viewheader" type="viewHeader"/>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="component">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="baseLabelElement">
               <xsd:sequence>
                  <xsd:choice maxOccurs="unbounded">
                     <xsd:element ref="lovbox"/>
                     <xsd:element ref="filebox"/>
                     <xsd:element ref="gridcell"/>
                     <xsd:element ref="checkbox"/>
                     <xsd:element ref="gridlayout"/>
                     <xsd:element ref="yaxis"/>
                     <xsd:element ref="accordion"/>
                     <xsd:element ref="calendar"/>
                     <xsd:element ref="colorpicker"/>
                     <xsd:element ref="interactionblock"/>
                     <xsd:element ref="include"/>
                     <xsd:element ref="textlink"/>
                     <xsd:element ref="listbox"/>
                     <xsd:element ref="xhtml"/>
                     <xsd:element ref="positionlayout"/>
                     <xsd:element ref="flowlayout"/>
                     <xsd:element ref="gridflowlayout"/>
                     <xsd:element ref="xaxis"/>
                     <xsd:element ref="gridview"/>
                     <xsd:element ref="framepanel"/>
                     <xsd:element ref="radiobox"/>
                     <xsd:element ref="calculator"/>
                     <xsd:element ref="formpanel"/>
                     <xsd:element ref="tab"/>
                     <xsd:element ref="piechart"/>
                     <xsd:element ref="image"/>
                     <xsd:element ref="viewcolumn"/>
                     <xsd:element ref="inputbutton"/>
                     <xsd:element ref="treeview"/>
                     <xsd:element ref="slider"/>
                     <xsd:element ref="textarea"/>
                     <xsd:element ref="legend"/>
                     <xsd:element ref="listview"/>
                     <xsd:element ref="config"/>
                     <xsd:element ref="checkbox"/>
                     <xsd:element ref="menu"/>
                     <xsd:element ref="widget"/>
                     <xsd:element ref="series"/>
                     <xsd:element ref="positionpanel"/>
                     <xsd:element ref="borderlayout"/>
                     <xsd:element ref="panel"/>
                     <xsd:element ref="component"/>
                     <xsd:element ref="linechart"/>
                     <xsd:element ref="textbox"/>
                     <xsd:element ref="radiogroup"/>
                     <xsd:element ref="viewheader"/>
                     <xsd:element ref="repeater"/>
                     <xsd:element ref="pager"/>
                     <xsd:element ref="editbox"/>
                     <xsd:element ref="tabpanel"/>
                     <xsd:element ref="button"/>
                     <xsd:element ref="window"/>
                     <xsd:element ref="menuitem"/>
                     <xsd:element ref="text"/>
                     <xsd:element ref="combobox"/>
                     <xsd:element ref="barchart"/>
                     <xsd:element ref="textfield"/>
                     <xsd:element ref="menuview"/>
                     <xsd:element ref="collapsiblepanel"/>
                  </xsd:choice>
               </xsd:sequence>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="positionpanel" type="positionPanel"/>
   <xsd:element name="accordionPanel" type="accordionPanel"/>
   <xsd:element name="menuview">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="view">
               <xsd:sequence>
                  <xsd:choice maxOccurs="unbounded">
                     <xsd:element ref="menu" minOccurs="0"/>
                     <xsd:element ref="menuitem" minOccurs="0"/>
                  </xsd:choice>
               </xsd:sequence>
               <xsd:attribute name="orientation" type="floworientation"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="collapsiblepanel" type="collapsiblePanel"/>
   <xsd:element name="accordion" type="accordion"/>
   <xsd:element name="formpanel" type="formPanel"/>
   <xsd:element name="xhtml" type="xHtml"/>
   <xsd:element name="filebox">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="editablecontrol">
               <xsd:sequence/>
               <xsd:attribute name="action" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="colorpicker">
      <xsd:complexType>
         <xsd:complexContent>
            <xsd:extension base="editablecontrol">
               <xsd:sequence/>
               <xsd:attribute name="label" type="xsd:string"/>
               <xsd:attribute name="labelwidth" type="xsd:string"/>
               <xsd:attribute name="labelposition" type="xsd:string"/>
               <xsd:attribute name="labeloffset" type="xsd:string"/>
               <xsd:attribute name="labelalign" type="xsd:string"/>
               <xsd:attribute name="labelstyle" type="xsd:string"/>
               <xsd:attribute name="labelfontfamily" type="xsd:string"/>
               <xsd:attribute name="labelcolor" type="xsd:string"/>
               <xsd:attribute name="labelfontsize" type="xsd:string"/>
               <xsd:attribute name="action" type="xsd:string"/>
               <xsd:attribute name="actionparams" type="xsd:string"/>
            </xsd:extension>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="slider" type="slider"/>
   <xsd:element name="barchart" type="barChart"/>
   <xsd:element name="linechart" type="lineChart"/>
   <xsd:element name="piechart" type="pieChart"/>
   <xsd:element name="legend" type="chartLegend"/>
   <xsd:element name="xaxis" type="xAxis"/>
   <xsd:element name="yaxis" type="yAxis"/>
   <xsd:element name="series" type="chartSerie"/>
   <xsd:element name="inputbutton" type="inputbutton"/>
   <xsd:element name="viewrow" type="viewRow"/>
   <xsd:element name="editpanel" type="editPanel"/>
   <xsd:simpleType name="floworientation">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="vertical"/>
         <xsd:enumeration value="horizontal"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="casetype">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="upper"/>
         <xsd:enumeration value="lower"/>
         <xsd:enumeration value="mixed"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="layouttype">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="vertical"/>
         <xsd:enumeration value="horizontal"/>
         <xsd:enumeration value="positional"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="borderposition">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="top"/>
         <xsd:enumeration value="bottom"/>
         <xsd:enumeration value="left"/>
         <xsd:enumeration value="right"/>
         <xsd:enumeration value="center"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="griddirection">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="row"/>
         <xsd:enumeration value="column"/>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
